#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.back {
  display: flex;
  flex-direction: column;
  position: absolute;
  background-color: rgb(124, 214, 205);
  top: 0;
  left: 25%;
  width: 200;
  height: 100%;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 16px #719ECE;
}

.login {
  margin: 34px;
  margin-top: -15px;
}

.welcome {
  color: #373737;
  margin-left: 350px;
  margin-top: -20px;
  font-size: 100px;
  text-shadow: 0 0 24px #000000;
}

.signInHeader {
  margin-top: -35px;
  color: #242424;
}

.registerButton {
  color: #242424;
  background-color: rgba(0, 0, 0, 0);
  border: none;
}

.registerButton:focus {
  color: #dcefff;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  text-shadow: 0 0 8px #ffffff;
  box-shadow: none;
}

.error {
  margin-bottom: 46px;
}

/* .logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */
